/*body style*/
body {
            margin: 0;
            font-family: Arial, sans-serif;
            background: #ade8f4;
            color:#212529 ;
        }
/*nav style*/
header {
            background-color: #00060e;
            
            padding: 20px;
            text-align: center;
            position: sticky;
            top: 0;
            z-index: 1000;
        }
header h1 {
            margin: 0;
            color:  #5a75e8;
            text-align: center;
            
        }
nav {
            margin-top: 10px;
        }
nav a {
            color: #ffffff;
            margin: 0 15px;
            text-decoration: none;
            font-size: 16px;
        }
 nav a:hover {
            color: #ff9900;
        }
#title{
    text-align: center;
}
/*card design*/


.contanier {
            max-width: 1500px;
            margin: 0;
            padding: 10px;
            
            
        }
.movies-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 20px;
            
        }
.movie {
            background-color: #1c1c1c;
            border-radius: 8px;
            overflow-x: scroll;
            transition: transform 0.3s ease;
        }
   

    
.movie:hover {
            transform: scale(1.05);
        }

.movie img {
            width: 100%;
            display: block;
        }

.movie-info {
            padding: 15px;
            text-align: center;
            
        }

        .movie-info h3 {
            margin: 10px 0;
            font-size: 18px;
        }

        .movie-info p {
            font-size: 14px;
            color: #aaaaaa;
        }

        .movie-description {
            margin: 10px 0;
            font-size: 14px;
            color: #cccccc;
        }

        .movie-buttons {
            margin-top: 10px;
        }
.movie-buttons a {
            background-color: #ff9900;
            color: #ffffff;
            text-decoration: none;
            padding: 10px 15px;
            margin: 5px;
            border-radius: 5px;
            display: inline-block;
            font-size: 14px;
        }
 .movie-buttons a:hover {
            background-color: #2cd72f;
        }

.video-section{
    position: relative;
    width: 100%;
    height: 700px;   /* Oya one height eka */
    overflow: hidden;
    background: #000;
}

.video-section iframe{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 177.77777778vh;
    height: 100vh;

    min-width: 100%;
    min-height: 100%;

    transform: translate(-50%, -50%) scale(1.3);

    border: none;
    pointer-events: none;
}
/*foter style*/
        footer {
            background-color: #1c1c1c;
            text-align: center;
            padding: 20px;
            margin-top: 20px;
            
        }

        footer p {
            margin: 0;
            font-size: 14px;
        }

        footer a {
            color: #ff9900;
            text-decoration: none;
        }
		.movies-grid {
    display: grid;
    gap: 20px;
}






