/*body style*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0a0b0c
}

/*nav style*/
header {
    background-color: #0a0b0c;

    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.08);

    backdrop-filter: blur(15px);

    border: 0px solid rgba(0, 0, 0, 0.2);

}

header h1 {
    margin: 0;
    color: #5a75e8;
    text-align: left;


}

nav {
    margin-top: 15px;
    text-align: right;
}

nav a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;


}

.edit {
    margin-top: -30px;
    text-align: justify right;
}

nav a:hover {
    color: #ff9900;
}

#title {
    text-align: center;
}

body {
    background: #111;
    font-family: Arial, sans-serif;
}

.search-box {
    width: 750px;
    height: 35px;

    margin-left: 250px;
    position: relative;
    margin-top: -45px;

    display: flex;

    background: #1c1c1c;

    border: 2px solid #333;

    border-radius: 50px;

    overflow: hidden;

    transition: .4s;


}

.search-box:hover {
    border-color: #3109e5;

    box-shadow: 0 0 20px rgba(13, 9, 229, 0.5);
}

.search-box input {

    flex: 1;

    background: transparent;

    border: none;

    outline: none;

    color: white;

    font-size: 18px;

    padding: 0 20px;
}

.search-box input::placeholder {
    color: #aaa;
}

.search-box button {

    width: 70px;

    border: none;

    background: #5a75e8;

    color: white;

    font-size: 22px;

    cursor: pointer;

    transition: .3s;
}

.search-box button:hover {

    background: #2c33ff;

}


/*card design*/


.contanier {
    max-width: 1500px;
    margin: 0;
    padding: 10px;


}

.movies-grid {
    display: grid;

    /* Card width eka */
    grid-auto-columns: 250px;

    /* Cards right side ekata */
    grid-auto-flow: column;

    gap: 20px;

    overflow-x: auto;
    overflow-y: hidden;

    scroll-behavior: smooth;

    padding-bottom: 10px;

}

.movies-grid::-webkit-scrollbar {
    height: 8px;
}

.movies-grid::-webkit-scrollbar-thumb {
    background: #ff9900;
    border-radius: 10px;
}

.movies-grid::-webkit-scrollbar-track {
    background: #222;
}

.movie {
    background-color: #943333;
    border-radius: 50px;
    overflow-x: hidden;
    transition: transform 0.3s ease;
    width: 250px;
}



.movie:hover {
    transform: scale(1.05);
}

.movie img {
    width: 100%;
    display: block;
}

.movie-info {
    padding: 15px;
    text-align: center;

}

.movie-info h3 {
    margin: 10px 0;
    font-size: 18px;
}

.movie-info p {
    font-size: 14px;
    color: #aaaaaa;
}

.movie-description {
    margin: 10px 0;
    font-size: 14px;
    color: #cccccc;
}

.movie-buttons {
    margin-top: 10px;
}

.movie-buttons a {
    background-color: #ff9900;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 50px;
    display: inline-block;
    font-size: 14px;
}

.movie-buttons a:hover {
    background-color: #2cd72f;
}

h2 {
    color: white;
}

/* ===========================
   VIDEO
=========================== */

.video-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #000;
}

.video-section iframe {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 177.77vh;
    height: 100vh;

    min-width: 100%;
    min-height: 100%;

    transform: translate(-50%, -50%) scale(1.35);

    animation: videoReveal 8s ease forwards;

    border: none;
    pointer-events: none;
}

/* Black Overlay */

.video-section::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0);
    animation: darkOverlay 8s ease forwards;
}

/* ===========================
   FILMFLIX TEXT
=========================== */

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.overlay h1 {

    font-size: 110px;
    color: #ffffff;

    font-family: Arial, sans-serif;
    font-weight: 900;
    letter-spacing: 10px;
    text-transform: uppercase;

    opacity: 0;

    transform: scale(.5);

    text-shadow:
        0 0 0px #fff;

    animation: textReveal 3s ease forwards;
    animation-delay: 5s;
}

/* ===========================
   VIDEO ANIMATION
=========================== */

@keyframes videoReveal {

    0% {
        transform: translate(-50%, -50%) scale(1.35);
        filter: blur(0px) brightness(100%);
    }

    40% {
        transform: translate(-50%, -50%) scale(1.25);
        filter: blur(0px) brightness(80%);
    }

    70% {
        transform: translate(-50%, -50%) scale(1.15);
        filter: blur(2px) brightness(60%);
    }

    100% {
        transform: translate(-50%, -50%) scale(1.1);
        filter: blur(5px) brightness(35%);
    }

}

/* ===========================
   DARK OVERLAY
=========================== */

@keyframes darkOverlay {

    from {
        background: rgba(0, 0, 0, 0);
    }

    to {
        background: rgba(0, 0, 0, .55);
    }

}

/* ===========================
   TEXT ANIMATION
=========================== */

@keyframes textReveal {

    0% {
        opacity: 0;
        transform: scale(.5);
        filter: blur(10px);
    }

    40% {
        opacity: .6;
        transform: scale(1.15);
        filter: blur(3px);
    }

    70% {
        opacity: 1;
        transform: scale(1.05);
        filter: blur(0px);
    }

    100% {
        opacity: 1;
        transform: scale(1);

        text-shadow:
            0 0 15px rgba(255, 255, 255, .9),
            0 0 30px rgba(255, 255, 255, 0.9),
            0 0 60px rgba(255, 255, 255, 0.8),
            0 0 90px rgba(255, 255, 255, 0.7);
    }

}

/*foter style*/
footer {
    background-color: #1c1c1c;
    text-align: center;
    padding: 20px;
    margin-top: 20px;

}

footer p {
    margin: 0;
    font-size: 14px;
}

footer a {
    color: #ff9900;
    text-decoration: none;
}

.movies-grid {
    display: grid;
    gap: 20px;
}